/* -------------- HEADER ------------------*/
/* ----------------------------------------*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url(../images/headers/headernews.jpg);
}

.news-text {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top:0px;
}

/* -------------- MAIN STORY ------------------*/
/* ----------------------------------------*/

.main-story img {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    background-color: #000;
}

.main-story img:hover {
    opacity: .6;
    transition: opacity 0.5s;
}

.story-title{
    color: #000;
    font-size:200%;
    word-spacing: 0px;
    letter-spacing: 0px;
    margin-top: 0px;
    
}

.divider {
    background-color: #2f2f2f;
    height: 2px;
    width: 300px;
    margin: 10px auto;
}

/* -------------- STORIES ------------------*/
/* ----------------------------------------*/


.thumbnail-img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    background-color: #000;
    
}

.thumbnail-img:hover {
    opacity: .6;
    transform: scale(1.1);
    transition: transform 0.5s, opacity 0.5s;
}

.bold {
    font-weight: bold;
    color: #e65300;
}

.story a:link,
.story a:visited {
    color: #e65300;
}

.story {
    margin-top: 20px;
}

