/* -------------- BASICS ------------------*/
/* ----------------------------------------*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: ddcHardware;
    src: url(../fonts/ddchardware.otf);
}

body {
    background-color: #fff;
    color: #000;
    font-family: "lato", "arial", "san-serif";
    font-weight: 400;
    font-size: : 20px;
    text-rendering: optimizeLegibility;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: 0;
}

/* -------------- REUSABLES ------------------*/
/* ----------------------------------------*/

.row {
    width: 1140px;
    margin: 0 auto;
}

section {
    padding-top: 40px;
}

.divider {
    background-color: #2f2f2f;
    height: 2px;
    width: 300px;
    margin: 20px auto;
}

/* -------------- HEADINGS ------------------*/
/* ----------------------------------------*/

h1 {
    font-family: "ddcHardware";
    color: #fff;
    letter-spacing: 5px;
    word-spacing: 5px;
    font-size: 60px;
}

h2 {
    font-family: "ddcHardware";
    color: #000;
    letter-spacing: 5px;
    font-size: 150%;
    text-align: center;
}

h2:after {
    display:block;
    height:2px;
    background-color: #e65300;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 15px;
}

h3 {
    font-size: 130%;
    font-weight:400;
    color: #e65300;
}

h4 {
    font-size: 115%;
    font-weight: 400;
    font-family: "ddchardware";
    color: #000;
}

/* -------------- BUTTONS ------------------*/
/* ----------------------------------------*/

.team-btn:link,
.team-btn:visited {
    border: 1px solid #e65300;
    padding: 10px 20px;
    text-decoration: none;
    color: #e65300;
    font-weight: 300;
    border-radius: 200px;
    display: block;
    margin: auto;
    text-align: center;
}

.team-btn:hover,
.team-btn:active {
    background-color: #e65300;
    color: #fff;
    transition:  background-color .2s;
}

 .dropdown-toggle {
  background-color: transparent;
  border-color: #fff;
  border-style: solid;
  border-top: none;
  border-right: none;
  border-left: none;
}

/* -------------- DROPDOWN ------------------*/
/* ----------------------------------------*/

.dropdown-menu {
    background-color: #e65300;
    width: 100px;
    height: 150px;
}


.main-nav-text .dropdown .dropdown-menu li a:visited,
.main-nav-text .dropdown .dropdown-menu li a:link {
    color: #000;
    font-size: 80%;
    padding-left: 0px;
    margin-top: 0px;
    padding-top: 0px;
    display: inline-block;
}

.main-nav-text .dropdown .dropdown-menu li a:hover,
.main-nav-text .dropdown .dropdown-menu li a:active {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    border-bottom: 2px solid transparent;
}

.main-nav-text .dropdown .dropdown-menu li {
    margin-top: 0px;
    background-color: transparent;
}

.dropdown-club {
    width: 100px;
    height: 68px;
}

/* -------------- HEADER ------------------*/
/* ----------------------------------------*/

header {
    background-image:linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url(../images/headers/headerimg.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}


.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.countdown-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: transparent;
    width: 700px;
    height: 300px;
}

.countdown-text h1 {
    color: #fff;
    margin-left: 142px;
    margin-bottom:20px;
    display: block;
}

.countdown-text p {
    color: #fff;
    font-family: "ddcHardware";
    text-align: center;
    font-size: 20px;
    margin: 20px auto 0 auto;
}

.header-text h1 {
    color: #fff;
    display: block;
}

.header-text p {
    color: #fff;
    font-family: "ddcHardware";
    text-align: center;
    font-size: 20px;
    margin: 20px auto 0 auto;
}

.countdown-logos li {
    list-style: none;
    display: inline;
    margin-right: 20px;
}

.countdown-logos img {
    width: 150px;
    height: auto;
    
}

.countdown-logos {
    margin-left: 180px;
}

#stadium {
    color: #e65300;
}


.logo {
    width:100px;
    height:auto;
    float: left;
    margin-top: 10px;
}

.main-nav-text  {
    float: right;
}

.main-nav-text li {
    list-style: none;
    padding-left: 20px;
    display: inline-block;
    font-size: 17px;
    font-family: "ddcHardware";
    margin-top: 45px;
}

.main-nav-text a:visited,
.main-nav-text a:link {
    color: #e65300;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

.main-nav-text a:hover,
.main-nav-text a:active {
    color: #fff;
    text-decoration: none;
    border-bottom: 2px solid #e65300;
    transition: border-bottom 0.2s;
        
}

/* -------------- ABOUT US ------------------*/
/* ----------------------------------------*/

.section-about  {
    padding-bottom: 30px;
}

.big-logo {
    width: 25%;
    height: auto;
    margin-bottom: 30px;
    display: block;
}

.section-about p {
    text-align: center;
    font-family: "lato", "arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

.big-para {
    font-size: 150%;
}

.color {
    color: #e65300;
}

/* -------------- SPONSORS ------------------*/
/* ----------------------------------------*/

.section-sponsors {
    background-color: #f2f2f2;
    padding-bottom: 40px;
}

.sponsors {
    margin-top: 20px;
    margin-bottom: 20px;
}

.section-sponsors img {
    width: 50%;
    height: auto;
    margin: auto;
    display:block;
}

.section-sponsors p  {
    margin: auto;
    text-align: center;
    width: 900px;
    display: block;
    
}

/* -------------- TEAM ------------------*/
/* ----------------------------------------*/

.section-team {
    margin-top: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url(../images/headers/team.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
    position: relative;
}

.team-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.team-text h1 {
    font-size: 500%;
    word-spacing: 0px;
    text-align: center;
    margin-bottom: 35px;
}

/* -------------- MAP ------------------*/
/* ----------------------------------------*/

.map {
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.stadium  {
    margin-top: 20px;
}

/* -------------- SHOP ------------------*/
/* ----------------------------------------*/

.section-shop {
    padding-top: 60px;
}

.shop-photos {
    list-style: none;
    width: 100%;
    margin-top:30px;
}

.shop-photos li {
    display: block;
    float: left;
    width: 25%;
    
}

.shop-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    
}

.shop-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s;
}

.shop-photo img:hover {
    transform: scale(1.03);
    opacity: 1;
}

/* -------------- FOOTER ------------------*/
/* ----------------------------------------*/

footer {
    background-color: #000;
    margin-top: 40px;
    position: relative;
    padding-bottom: 30px;
}

.text-logo {
    font-family: "ddcHardware";
    color: #e65300;
    font-size: 200%;
    padding-top: 30px;
}

.address {
    color: #fff;
}

i {
    color: #e65300;
    font-size: 200%;
    margin-right: 20px;
}

.copyright {
    color: #fff;
    margin-top: 10px;
}

.links {
    list-style: none;
    position: absolute;
    top: 40px;
    right: 100px;
}

.links a:link,
.links a:visited {
    text-decoration: none;
    color: #fff;
    font-family: "ddcHardware";
    font-size: 80%;
    border-bottom: 2px solid transparent;
}

.links a:hover,
.links a:active {
    color: #e65300;
    text-decoration: none;
    border-bottom: 2px solid #fff;
    transition: border-bottom 0.2s;
}
